In [1]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('PlayTennis.csv')

In [23]:
data

     Outlook  temp Humidity    Wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [15]:
data = data.rename(columns={'Temperature':'temp', 'Play Tennis': 'play'}) # inplace=False

In [16]:
data.head()

    Outlook  temp Humidity    Wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [17]:
#problem 1

# for Sunny,Hot,Normal,Strong  tell tennis played or not

# solution

# p(yes|sunny,Hot,Normal,Strong) = p(sunny|yes)*p(Hot|yes)*p(Normal|yes)*p(Strong|yes)*p(yes)

# p(no|sunny,Hot,Normal,Strong) = p(sunny|no)*p(Hot|no)*p(Normal|no)*p(Strong|no)*p(no)

# compare both of the above probability and higher one is answer(predicted result)

In [18]:
# now lets create our own navie bayes to detect this, while training it move through all the dataset and calculate the all possible probability
# and store in a dictionary or similar data structure and while predicting get the value from the dictionary and multiply them and by comparing 
# return the result

In [20]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [34]:
# p(yes)
py = 9/14 
# p(no)
pn = 5/14

In [35]:
# using the crosstab to print the comparision data b/w columns
pd.crosstab(data['Outlook'], data['play'])

play      No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [36]:

# p(overcast|yes)
poy = 4/9
pon = 0 #this case need to modify because in such case some custome data inserted to increase the probability from 0 so data can be good train. But I am not handling it here
# p(rain/yes)
pry = 3/9
prn = 2/5

psy = 2/9
psn = 3/5

In [37]:
# probability of the temp

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [38]:
pcn = 1/5
pcy = 3/9
phn = 2/5
phy = 2/9
pmn = 2/5
pmy = 4/9

In [39]:
# probability of the temp

pd.crosstab(data['Humidity'], data['play'])

play      No  Yes
Humidity
High       4    3
Normal     1    6

In [40]:
# p(High|no)
pHn = 4/5
pHy= 3/9
pNn = 1/5
pNy= 6/9

In [41]:
# probability of the temp

pd.crosstab(data['Wind'], data['play'])

play    No  Yes
Wind
Strong   3    3
Weak     2    6

In [42]:
pSn = 3/5
pSy= 3/9
pWn = 2/5
pWy= 6/9

In [43]:
# Now lets predict the output of the problem 1

# for Sunny,Hot,Normal,Strong  tell tennis played or not

y = psy*py*pHy*phy*pSy
n = psn*pn*pHn*phn*pSn

In [45]:
print("yes" if y>n else 'no')

no

In [47]:
# Sunny	Mild	Normal	Strong 

y = psy*py*pNy*pmy*pSy
n = psn*pn*pNn*pmn*pSn
print("yes" if y>n else 'no')

yes